a {
  color: red;
}


p, ol {
  font-size: 14px;
  font-family: "Edu AU VIC WA NT Hand";
}

p, ol, h1, li, h4 {
  text-align: center;
}

html {
  background-color: #91bbff;
}

div {
  width: 600px;
  margin: 0 auto;
  background-color: #ff8af5;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

img {
  display: block;
  margin: 20px auto;
}

h6 {
  width: 1000px;
  margin: 0 auto;
  color: yellow;
  text-shadow: 1px 1px 1px black;
}
